@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 24, 39;
  --background-start-rgb: 249, 250, 251;
  --background-end-rgb: 243, 244, 246;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 249, 250, 251;
    --background-start-rgb: 31, 41, 55;
    --background-end-rgb: 17, 24, 39;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
