@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --work-color: #EF4444;
  --short-break-color: #10B981;
  --long-break-color: #8B5CF6;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
